.example.pages {
    &.slider {
        height: 100%;
    }
    .content {
    	height: 100%;
        overflow-y: auto;
    }
    .page {
        .article-content {
            padding: 20px 16px;
        }
        .title {
            font-size: 21px;
            line-height: 21px * 1.4;
            margin: 0 0 16px 0;
        }
        p {
            font-size: 15px;
            line-height: 15px * 1.4;
            color: #777;
            margin: 0 0 16px 0;
        }
    }
}
