@import "../app/variables";

.slider-controls.slider-controls-controls {
    $_button_size: 40px;

    position: relative;
    width: $size_px;
    height: $_button_size;
    margin: 0 auto;
    margin-top: -1.4 * $_button_size;
    background: rgba(0,0,0,0.3);
    padding: (0.2 * $_button_size) 0;
    
    a.prev,
    a.next {
        display: block;
        width: $_button_size;
        height: $_button_size;
        border-radius: $_button_size / 2;
        position: absolute;
        background-color: rgba(255, 255, 255, .6);
        text-indent: -1234em;
        cursor: default;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 50%;
        user-select: none;
        opacity: 0;
        transition-property: opacity;
        transition-timing-function: ease-out;
        transition-duration: 150ms;

        &.enabled {
            opacity: 1;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
    a.prev {
        background-image: url('../assets/svg/navigate-before.svg');
    }
    a.next {
        background-image: url('../assets/svg/navigate-next.svg');
    }

    a.prev {
        left: 10px;
    }
    [dir="rtl"] & a.prev {
        left: auto;
        right: 10px;
        transform: scaleX(-1);
    }
    a.next {
        right: 10px;
    }
    [dir="rtl"] & a.next {
        right: auto;
        left: 10px;
        transform: scaleX(-1);
    }

    input.goto {
        $_width: $_button_size;
        $_height: $_button_size;
        position: absolute;
        left: 50%;
        height: $_height;
        width: $_width;
        margin: 0;
        padding: 0;
        margin-left: -$_width/2;
        text-align: center;
        border: none;
        font-size: 14px;
    }
}
