@import "./variables";

a:link,
a:visited {
    color: #1E88E5;
    text-decoration: none;
}

.view {
    height: 100%;
}

.example {
    &.slider {
        width: $size_px;
        margin: 0 auto;
    }
    .content {
        position: relative;
        min-height: $size_px;
    }
    .page {
        position: absolute;
        width: $size_px;

        .image-container {
            position: relative;
            background-color: #f0f0f0;
        }
        .image-container,
        .preloader,
        .image {
            width: $size_px;
            height: $size_px;  
        }
        .preloader,
        .image {
            position: absolute;
        }
        .image { 
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            opacity: 0;
            transition: opacity .4s;
        }
    }
    @for $i from 1 through 10 {
        .page:nth-child(#{$i}) {
            top: 0;
            left: 1px * (($i - 1) * $size);
        }
    }
}

.github {
    width: $size_px;
    margin: 32px auto 0 auto;
    text-align: center;
    padding: 24px 16px;
    font-size: 14px;
    color: rgba(0,0,0,.35);
}
