@import "../app/variables";

.example.vertical {
    &.slider,
    .page {
        height: $size_px;
    }
    @for $i from 1 through 10 {
        .page:nth-child(#{$i}) {
            left: auto;
            top: 1px * (($i - 1) * $size);
        }
    }
}
